#table{
  border: 1px solid white;
  text-align: center;
  width: 100%;
  background-color: rgb(15, 15, 15);
}

th{
  background-color: rgb(255, 255, 255);
  color: black;
  width: 20%;
  padding-top:3px;
  padding-bottom: 3px;
}
td{
  width: 20%;
  padding-top:3px;
  padding-bottom: 3px;
}

tr:hover{
  background-color: rgb(233, 230, 230);
  color: black;
  border-left: 1px solid black;
} 


@media only screen and (max-width: 768px) {
  /*for mobile phones*/
  
  #add{
    display: none;
  }
  #addbtn{
    display: inline;
  }
  #addspan{
    margin-left: 90%;
  }
}

@media screen and (min-width: 768px){
    /*for large screens*/

    #dashboard-item {
      width: 80%;
    }
    #form{
      padding: 20%;
    }
    #addd{
      display: none;
    }
    #addspan{
      margin-left: 90%;
    }
    #addpform{
      padding-left: 10%;
      padding-right: 10%;
    }
    
}